/* Estilos para el contenedor principal */
.Uploadcontainer {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Estilos para el formulario de carga */
  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .input-img,
  .input-name,
  .input-style {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border-color: purple;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
  
  .title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: purple; 
    margin-bottom: 20px;
    text-align: center;
  }
  
  .mi-butn {
    background-color: purple;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;
  }
  
  .mi-butn:hover {
    background-color: purple;
    border-radius: 20px;
  }
  
  /* Estilos para el contenedor de artículos */
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Estilos para cada tarjeta de artículo */
  product-card {
    width: 30%;
    margin-bottom: 20px;
    border: 2px solid purple;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  